<article class="sidebar">
  <h1 class="sidebar-title">Demo .torrent Files</h1>
  <p class="sidebar-body">The following .torrent files are currently being tracked.</p>
  <div class="sidebar-body">
      <a href="https://www.dropbox.com/s/syqtf27dcmp7eln/xubuntu.torrent?dl=0">
      Xubuntu
      </a>
  </div>
</article>

