<article class="sidebar">
  <h1 class="sidebar-title">Demo .torrent Files</h1>
  <p class="sidebar-body">The following .torrent files are currently being tracked.</p>
  <div class="sidebar-body">
      <a href="https://www.dropbox.com/s/i8okhyvis3p2d5w/publicxubuntu.torrent?dl=0">
      Xubuntu-Public
      </a>
      <hr>
      <a href="https://www.dropbox.com/s/gfu1811qio58r2z/privatexubuntu.torrent?dl=0">
      Xubuntu-Private
      </a>
      <hr>
      <a href="https://www.dropbox.com/s/uwljrj4fxs3u2qi/poster.torrent?dl=0">
      Poster
      </a>
      <hr>
      <a href="https://www.dropbox.com/s/uwljrj4fxs3u2qi/Poster.torrent?dl=0">
      Poster-Private
      </a>
      </hr>
  </div>
</article>

