<article class="sidebar">
  <h1 class="sidebar-title">What is this site?</h1>
  <p class="sidebar-body">This is a info/instruction site for a simple BitTorrent tracker.</p>
  <p class="sidebar-body">The site and tracker were assembled by student Jonathan Allen for a senior project at California State University Chico.</p>
  <p class="sidebar-body">For instructions on using this tracker look <a href="/instructions">here</a></p>
</article><!-- article -->

